{% extends 'base.html' %}
{% block title %} Register user {% endblock %}

{% block body %}
<h1>Registration page, soon opening ...</h1>
{% if registered %}
    <h1>Thank you for registering</h1>
{%else%}
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <div class="btn-group" role="group" aria-label="Basic example">
            <input type="radio" class="btn-check" name="level" id="option1" autocomplete="off" value="1">
            <label class="btn btn-secondary" for="option1">Easy - 10000 EUR</label>

            <input type="radio" class="btn-check" name="level" id="option2" autocomplete="off" value="2">
            <label class="btn btn-secondary" for="option2">Normal - 5000 GBP</label>

            <input type="radio" class="btn-check" name="level" id="option3" autocomplete="off" value="3">
            <label class="btn btn-secondary" for="option3">Hard - 1000 PLN</label>
        </div>
        <br>
        <br>
        <input type="submit" name="" value="Register" id="submitButton">
    </form>
{% endif %}
{% endblock %}
{% block scripts %}
<script>

</script>
{% endblock %}